Delete and Insert in pandas

Insert

In [1]:
import pandas as pd 
var = pd.DataFrame({"A":[1,2,3,4,5],"B":[9,8,7,6,5]})
var

   A  B
0  1  9
1  2  8
2  3  7
3  4  6
4  5  5

In [ ]:
var.insert()