# Read CSV file in pandas

In [2]:
import pandas as pd 

csv_1 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv')
csv_1

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.00,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.00,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...,...
16319,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16320,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16321,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16322,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16323,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [3]:
# csv_2 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',usecols=["Rank","Name"])
csv_2 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',usecols=[0,3])
csv_2

        Rank  Year
0        259  1980
1        545  1980
2       1768  1980
3       1971  1980
4       2671  1980
...      ...   ...
16319  16565  2016
16320  16572  2016
16321  16573  2016
16322  16579  2016
16323  16592  2016

[16324 rows x 2 columns]

In [4]:
csv_3 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',skiprows=[0,3])
csv_3

,259,Asteroids,2600,1980,Shooter,Atari,4,0.26,0,0.05,4.31
0,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
1,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.00,0.01,1.05
2,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
3,4027,Ice Hockey,2600,1980,Sports,Activision,0.46,0.03,0.00,0.01,0.49
4,5368,Freeway,2600,1980,Action,Activision,0.32,0.02,0.00,0.00,0.34
...,...,...,...,...,...,...,...,...,...,...,...
16317,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16318,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16319,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16320,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16321,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [5]:
csv_4 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',index_col="Rank")
csv_4

,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
Rank,,,,,,,,,,
259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.00,0.01,1.15
1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.00,0.01,1.05
2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...
16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [6]:
csv_5 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',header=1)
csv_5

,259,Asteroids,2600,1980,Shooter,Atari,4,0.26,0,0.05,4.31
0,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
1,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.00,0.01,1.15
2,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.00,0.01,1.05
3,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
4,4027,Ice Hockey,2600,1980,Sports,Activision,0.46,0.03,0.00,0.01,0.49
...,...,...,...,...,...,...,...,...,...,...,...
16318,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16319,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16320,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16321,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16322,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01

In [7]:
csv_6 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',names=["col1","col2","col3","col4","col5",])
csv_6

,,,,,,col1,col2,col3,col4,col5
Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
259,Asteroids,2600,1980,Shooter,Atari,4,0.26,0,0.05,4.31
545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0,0.03,2.76
1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0,0.01,1.15
1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0,0.01,1.05
...,...,...,...,...,...,...,...,...,...,...
16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0,0,0,0.01
16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0,0,0,0.01
16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0,0.01,0,0,0.01
16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0,0.01,0,0,0.01
16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shirube Kareru,PSV,2016,Action,dramatic create,0,0,0.01,0,0.01

In [8]:
csv_7 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',header=None)
csv_7

,0,1,2,3,4,5,6,7,8,9,10
0,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
1,259,Asteroids,2600,1980,Shooter,Atari,4,0.26,0,0.05,4.31
2,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0,0.03,2.76
3,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0,0.01,1.15
4,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0,0.01,1.05
...,...,...,...,...,...,...,...,...,...,...,...
16320,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0,0,0,0.01
16321,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0,0,0,0.01
16322,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0,0.01,0,0,0.01
16323,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0,0.01,0,0,0.01
16324,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0,0,0.01,0,0.01

In [9]:
csv_8 = pd.read_csv('/home/crazyguy/VS Code/ML Tutorial/machine_learning/vgsales.csv',dtype = {"TODAY - VOLUME":"float"})
csv_8

,Rank,Name,Platform,Year,Genre,Publisher,NA_Sales,EU_Sales,JP_Sales,Other_Sales,Global_Sales
0,259,Asteroids,2600,1980,Shooter,Atari,4.00,0.26,0.00,0.05,4.31
1,545,Missile Command,2600,1980,Shooter,Atari,2.56,0.17,0.00,0.03,2.76
2,1768,Kaboom!,2600,1980,Misc,Activision,1.07,0.07,0.00,0.01,1.15
3,1971,Defender,2600,1980,Misc,Atari,0.99,0.05,0.00,0.01,1.05
4,2671,Boxing,2600,1980,Fighting,Activision,0.72,0.04,0.00,0.01,0.77
...,...,...,...,...,...,...,...,...,...,...,...
16319,16565,Mighty No. 9,XOne,2016,Platform,Deep Silver,0.01,0.00,0.00,0.00,0.01
16320,16572,Resident Evil 4 HD,XOne,2016,Shooter,Capcom,0.01,0.00,0.00,0.00,0.01
16321,16573,Farming 2017 - The Simulation,PS4,2016,Simulation,UIG Entertainment,0.00,0.01,0.00,0.00,0.01
16322,16579,Rugby Challenge 3,XOne,2016,Sports,Alternative Software,0.00,0.01,0.00,0.00,0.01
16323,16592,Chou Ezaru wa Akai Hana: Koi wa Tsuki ni Shiru...,PSV,2016,Action,dramatic create,0.00,0.00,0.01,0.00,0.01